{% extends "base.html" %}

{% block content %}

<main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Uh-oh!</h1>
          <p class="col-md-8 fs-4">It's not you, it's us. We're working to get it back up. Try again!</p>
          <form action="/" method="get">
              <button class="btn btn-lg" type="submit">Try again</button>
          </form>
          
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; Akinfolami Akin-Alamu
      </footer>
    </div>
  </main>
  


{% endblock %}