{% extends "base.html" %}

{% block content %}
<div class="container">
    <p class="text-primary">Check the courses you want to sync</p>
    
    <form action="/tasks/sync" method="POST">
        {% for course in courses %}

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id={{course}}>
            <label class="form-check-label" for={{course}}>{{course}}</label>
            
          </div>
          {% endfor %}
          
          <button type="submit" class="btn btn-primary">Sync</button>
    </form>

{% endblock %}
